langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
langchain_groq
streamlit
SQLAlchemy
youtube_transcript_api
unstructured
pytube
numexpr
validators==0.28.3
duckduckgo-search